@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
.page-template-contact{
   
    .position {
        font-size: .75rem;
        font-weight: 700;
       margin-right: r(7);
    }
    .phone-item{
        margin-top: r(15);
    }
    .w-content-contact{
        display: grid;
        grid-template-columns: 1fr 26.4vw;
        column-gap: 4.8%;
        margin-bottom: 3.75rem;
        @media screen and (max-width: 991px) {
            display: block;
            .w-form{
                margin-top:r(50);
            }
          }
    }
   
    .w-form{
      
        >[role="form"]{
            margin-top: r(50);
        }
        .title {
            line-height: unset;
        }
    }
    .headin-info-contact{
       display: flex;
       align-items: center;
        font-size: r(33);
        color: $basic_font_color;
        font-family: $ff;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 600px){
            font-size: r(28);
          }
          @media screen and (max-width: 380px){
            font-size: r(24);
          }
          @media screen and (max-width: 340px){
            font-size: r(20);
          }
        &:before {
          content: '';
          display: block;
          width: r(9);
          height: r(27);
          background: $main_element_bg_color;
          margin-right: r(12);
        }
    }
    .info{
        >*{
            padding-left: r(25);
            &:first-child {
                padding-left: unset;
            }
            @media screen and (max-width: 600px){
                padding-left: unset;
                
            }
        }
        @media screen and (max-width: 600px){
            .text{
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .w-address,
            .w-phones,
            .w-email,
            .w-data > .text {
                margin-top: r(15);
            }
        }
        .w-data{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: r(20);
            @media screen and (max-width: 600px){
                display: block;
            }
        }
    }
    .w-phones,
     .w-email{

        a{
            display: block;
        }
    }
    .map {
        position: relative;
        padding-top:54%;
        margin-left: r(25);
        @media screen and (max-width: 600px){
            margin-left: unset;
            
        }
        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
}
@media screen and (max-width: 1024px){
    .page-template-contact{
        .contact>.w-content {
            grid-template-columns: 1fr 1fr;
            .map{
                grid-row: 2 / 3;
                grid-column: 1 / 3;
                iframe{
                    max-height: unset;
                    height: 30vw;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .page-template-contact{
        .margin-top-50{
            margin-top: r(30);
        }
        .contact>.w-content {
            grid-template-columns: 1fr;
            .map{
                grid-column: unset;
                iframe{
                    max-height: unset;
                    height: 100vw;
                }
            }
        }
    }
}
