@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-faq {
  .site-main {
    display: grid;
    grid-template-columns: 1fr 26.4vw;
    column-gap: 4.8%;
    margin-bottom: 3.75rem;
     
    @media screen and (max-width: 991px){
      display: block;
    }
  }

  .w-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: r(45);
    .f-size-23 {
     
        font-size: r(16);
      
      @media screen and (min-width: 1680px){
        font-size: r(23);
      }
      @media screen and (max-width: 1024px){
        width: calc(100% - 1.25rem);
      }
    }
  }

  .before-element {
    line-height: r(23);
    padding-left: unset;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: unset;
    }

    &:before {
      content: '';
      display: block;
      width: .5625rem;
      height: r(23);
      background: $main_element_bg_color;
      margin-right: r(7);
    }
    @media screen and (max-width: 1024px){
      justify-content: flex-start;
    }
  }

  .w-heading[aria-expanded="true"] .botton-arrow {
    &:after {
      transform: rotateZ(-135deg);

    }
  }
  .item {
    margin-bottom: r(20);
    .text {
      > *{
        padding-right: 1.5rem;
        padding-left: 1rem;
      }
      strong {
        font-size: r(14);
        display: inline-block;
        margin-bottom: r(10);
        @media screen and (min-width: 1680px){
        font-size: r(18);
        }
      }
    }
  } 
}

@media screen and (max-width: 768px),
(max-width: 850px) and (orientation:landscape) {}

@media screen and (max-width: 600px),
(max-width: 700px) and (orientation: landscape) {}

@media screen and (max-width:330px),
(max-width: 600px) and (orientation: landscape) {}

@media screen and (max-width: 700px) and (orientation: landscape) {}