@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
footer {
    
    padding-top: 25px;
    border-top: 1px solid #f4f4f4;
    .row{
      align-items: center;
    }
    @media screen and (max-width: 600px){
      .col-12{
        padding-left: unset;
        padding-right: unset;
      }
         }
    .logotype{
      margin-bottom: r(10);
    }
    .nav.flex-column{
      flex-direction: row !important;
      >li:first-child{
        a{
          padding-left: unset;
        }
      }
      @media screen and (max-width: 600px){
        display: block;
        >li{
          a{
            padding-left: unset;
            font-size: .8125rem;
          }
        }
        .menu-item{
          margin-bottom: 0.5rem;
        }
      }
    }

    .navbar-brand{
      position: relative;
      // left: -90px;
    }
    .widgettitle{
      font-size: r(15);
      color: $main_font_color;
      font-family: $ff;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: r(8);
    }
    .menu-footer {
      display: flex;
      align-items: center;
      height: 100%;
      @media screen and (max-width: 991px){
   margin-top: r(20);
      }
      @media screen and (max-width: 600px){
        margin-bottom: r(8);
           }
    }
    .widget_nav_menu {

      .nav-link {
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        font-size: r(15);
      }
    }

    a.text{
      
      display: inline-block;
    }
    .menu-item{
      margin-bottom: r(15);
    }
    a{
      &:hover{
        color:$main_font_color;
      }
      &.nav-link {
        display: block;
        padding: unset;
       
    }
    }
    
  .copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 4rem;
      margin-top: 17px;
      position: relative;
      color: $main_font_color;
      font-size: .8125rem;
      line-height: 1.5625rem;
      font-family: $ff;
      font-weight: 300;
      @media screen and (max-width: 600px){
        margin-top: 30px;
           }
      >a{
        padding-left: r(5);
        &:hover {
          color: $main_font_color;
          text-decoration: underline;
        }
      }
      .privacy-policy{
      position: absolute;
      left: 6.3vw;
      @media screen and (max-width: 600px){
        top: -17px;
        left: 5.4vw;
           }
      }
  }
  
  .copyright>.w-heart {
      display: inline-block;
      margin: 0 0.25rem;
  }
  
  .copyright .heart {
      width: 30px;
      animation: heartbeat 2s infinite;
    path{
      fill: $main_font_color;
    }
  }
  
  @keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
  }
} 


 
  @media screen and (max-width: 600px){
   
  }
  @media screen and (max-width: 320px){
   
  }