@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';


.search-form {
  background: #fff;
}
.js-additionalBottom {
  
  > div{
    height: 2.6875rem;
   border:2px solid #a4a4a4;
   text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    @media screen and (min-width:992px) {
      letter-spacing: 1px;
    }
    @media screen and (min-width:1025px) {
      letter-spacing: 2px;
    }

   color:#a4a4a4;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

  }
}

.additional-bottom-item {
  display: inline-block;
  
  .remove-bottom{
    width: r(30);
    height: 100%;
    background: rgba(255, 0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
 &::after {
   content: "";
   display: block;
   width: r(12);
   height: 2px;
   background: rgba(255,255,255,0.7);
 }
}
}
.w-form {
 
  .fixed-form{
    position: fixed !important;
    top: 0px;
    @media screen and (min-width:1679px) {
      top: 70px;
    }
    @media screen and (max-width:1024px) {
      top: 70px;
    }
  }
 
  @media screen and (max-width:991px) {
   
    margin-top: r(50);
    max-width: 478px;
    margin: 0 auto;
  }
  .title {
    line-height: r(93);
    padding-left: r(22);
    position: relative;

    &:after {
      content: '';
      display: block;
      width: r(9);
      height: r(27);
      position: absolute;
      top: r(33);
      left: 0;
      background: $main_element_bg_color;
    }
  }

  //input type text, tel, email
  input[name="your-name"] {
    background-image: url("./images/user.svg");
  }

  input[name="your-email"] {
    background-image: url("./images/at.svg");
  }

  input[name="your-phone"] {
    background-image: url("./images/call-answer.svg");
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: r(44);
    border: 1px solid $input_border_color;
    box-sizing: border-box;
    padding-left: r(50);
    background-repeat: no-repeat;
    background-position: r(17) center;
    cursor: pointer;
  }


// textarea
    textarea{
        border-color: $input_border_color;
    }

  // input checbox
 
  .checbox {
    display: flex;
    margin-bottom: r(30);
    margin-top: r(30);
    position: relative;
    [role="alert"] {
      width: 100%;
      position: absolute;
      bottom: - r(24);
      left: 0;
    }

    .text {
      margin-left: r(10);
      line-height: 1.1rem;
      font-size: $input_font_size;
     
      @media screen and (min-width:1024px) {
        line-height: 1rem;
        font-size: 10px;
      }
      @media screen and (min-width:1679px) {
        line-height: 1.1rem;
        font-size: $input_font_size;
      }
        color: $input_font_color;
        font-family: $ff;
        font-weight: $input_font_weight;
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      cursor: pointer;
      width: 17px;
      height: 17px;
      -webkit-appearance: none;
      appearance: none;

    }
    .form-control{
        border: unset;
        padding: unset;;
        height: unset;
    }
    .wpcf7-form-control-wrap,
    .wpcf7-form-control-wrap span:not([role="alert"]){
      display: block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
    }
    .wpcf7-form-control-wrap{
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      position: static;
    }
    .wpcf7-list-item {
      position: relative;
      margin: unset;
 
    }

    .wpcf7-list-item-label {
      width: 18px;
      height: 18px;
      background: $input_bg_color;
      border: 2px solid  $input_border_color;
      color: transparent;
      display: block;
      position: absolute;
      z-index: 1;

      &::before {
        content: unset;
      }

      &:after {
        content: unset;
      }
    }

    input:checked+.wpcf7-list-item-label::before {
      width: 40%;
      height: 50%;
      position: absolute;
      display: block;
      content: "";
      left: 5px;
      top: 2px;
      transform: rotateZ(45deg);
      border-right: 2px solid $main_font_color;
      border-bottom: 2px solid $main_font_color;
    }
  }
  
  //input file
  .w-a-filile {
    margin-top: r(20);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    .w-file {
     
      height: r(43);
      display: inline-block;
      position: relative;
  
      label {
        position: absolute;
        top: 0;
        right: 0;
        background: $button_bg_color;
        color: $button_color;
        height: 100%;
        width: 100%;
        z-index: 10;
        margin-bottom: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        @media screen and (min-width:992px) {
          letter-spacing: 1px;
        }
        @media screen and (min-width:1025px) {
          letter-spacing: 2px;
        }
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:after {
          content: '';
          @media screen and (min-width:992px) {
            content: unset;
           
          }
          @media screen and (min-width:1025px) {
            content: '';
           
          }
         
          display: block;
          width: r(30);
          height: r(12);
          position: relative;
          background-image: url("./images/right-arrow-white.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
  
        &:hover {
          &:after {
            left: r(8);
          }
        }
      }
    }
  }
 

  

  input[type="file"] {
    display: none;
  }

  // input submit
  .cta-arrow {
    background: $main_element_bg_color;
    border-color: $main_element_bg_color;
    margin: auto;
    margin-bottom: r(20);
    [type="submit"] {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .ajax-loader {
      visibility: unset;
      display: none;

      &.is-active {
        display: block;
      }
    }

    &:after {
      content: '';
      display: block;
      width: r(24);
      height: r(12);
      position: relative;
      background-image: url("./images/right-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;
    }

    &:hover {
      cursor: pointer;

      &::after {
        left: r(8);
      }
    }

    .is-active+ ::after {
      content: unset;
    }

    .btn {
      padding: unset;
    }
  }

  .wpcf7 .wpcf7-form textarea {
    min-height: r(148);
  }


  .form-control:focus {
    box-shadow: unset;
    border-color: $main_element_bg_color;
  }

  input,
  textarea {
    outline: none;
    border-radius: unset;
    font-size: $input_font_size;
    color: $input_font_color;
    font-weight: $input_font_weight;
  }

  div.wpcf7-validation-errors,
  div.wpcf7-acceptance-missing {
    border: 1px solid red;
    color: red;
  }

  div.wpcf7-response-output {
    margin: unset;
  }

  ::-webkit-input-placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  :-ms-input-placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  ::placeholder {
    color: $input_font_color;
    font-family: $ff;
    font-weight: $placeholder_weight;
    font-size: $placeholder_size;
  }

  .wpcf7-submit.btn-primary {
    color: $main_font_color;
    border: unset;
    background: unset;
    display: inline-block;

    &:focus {
      box-shadow: unset;
      border: unset;
    }
  }

  .pcf7-form-control {
    background: unset;
  }
  .wpcf7-list-item-label{
    background: $input_bg_color;
  }
  .form-control[readonly="readonly"] {
    color: $basic_font_color;
  }

  div.wpcf7-mail-sent-ng,
  div.wpcf7-aborted {
    color: red;
  }

  div.wpcf7-mail-sent-ok {
    border: 1px solid #398f14;
    color: #398f14;
  }

  [role="alert"] {
    font-family: $ff;
    font-size: .875rem !important;
    line-height: 1.2rem;
    font-weight: 300 !important;

  }
}
body:not(.page-template-contact) {

  .js-additionalBottom {
    > div{
     
      height: 2.6875rem;
      @media screen and (min-width:992px ){
        height: 2rem;
      }
      @media screen and (min-width:1680px ){
        height: 2.6875rem;
      }
    }
  }

  .w-form {
    .title {
      line-height: 5.8125rem;
      @media screen and (min-width:1025px ){
        line-height: 5rem;
      }
      @media screen and (min-width:1680px ){
        line-height: 5.8125rem;
      }
    }
    .checbox{
      margin-bottom: r(30);
        margin-top: r(30);
      @media screen and (min-width:1025px ){
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
     
      @media screen and (min-width:1680px ){
        margin-bottom: r(30);
        margin-top: r(30);
      }
     
    }
    .w-a-filile .w-file {
      height: 2.6875rem;
      @media screen and (min-width:992px ){
        height: 2rem;
      }
      @media screen and (min-width:1680px ){
        height: 2.6875rem;
      }
      label{
        height: 2.6875rem;
        @media screen and (min-width:992px ){
          height: 2rem;
        }
        @media screen and (min-width:1680px ){
          height: 2.6875rem;
        }
      }
    }
  }
}
.form-control:focus {
  
  background-color: unset;
  border-color: #ced4da;
  box-shadow: unset;
}

@media screen and (max-width: 1024px) {
  .w-form .w-file label {
    font-size: r(9);
  }
}