@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-front-page {
  .w-content-main-site {
    background: $second_bg_color;

  }

  .content-main-site {
    display: grid;
    grid-template-columns: 1fr 26.4vw;
    column-gap: 1.7%;
    padding: r(65) 0;

    @media screen and (max-width: 991px) {
      display: block;
    }

    .heading-text {
      margin-top: r(20);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
    }

    .text,
    .w-cta {
      margin-top: r(40);
      margin-right: 2%;
    }

    @media screen and (max-width: 600px) {

      .text,
      .w-cta {

        margin-right: unset;
      }
    }

    .w-form .text {
      margin-top: unset;
    }

    .w-cta {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 120px;
        justify-content: space-around;
      }

      @media screen and (max-width: 600px) {
        height: 100px;
      }
    }
  }

  .w-blog-article {
    margin-top: r(95);

    @media screen and (max-width: 600px) {
      margin-top: r(60);
    }
  }

  .w-article {
    .w-cta {
      justify-content: flex-end;
      margin-bottom: .75rem;
      height: 60px;
    }
  }

}



@media screen and (max-width: 600px) {
  .page-template-front-page {
    #content.site-content {
      margin-top: 653px;
    }

    .w-content-team {
      margin-top: 1.5rem;
    }
  }
}