@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.w-content {
  width: 87.47vw;
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.site {
  position: relative;
}


body {
  background-color: $main_bg_color;
  font-family: $ff;
}

a,
span {
  font-family: $ff;
  color: $basic_font_color;
}

a {
  transition: all 0.3s;

  &:hover {
    text-decoration: unset;
  }
}

.title {
  font-size: r(33);
  color: $basic_font_color;
  font-family: $ff;
  font-weight: 700;
  text-transform: uppercase;
  @media screen and (max-width: 600px){
    font-size: r(28);
  }
  @media screen and (max-width: 380px){
    font-size: r(24);
  }
  @media screen and (max-width: 340px){
    font-size: r(20);
  }
}

h1.title {
  margin-bottom: r(60);

  @media screen and (max-width: 600px){
    margin-bottom: r(30);
  
  }
  span {
    padding-left: r(19);
    padding-right: r(19);
    background: $main_element_bg_color;
    line-height: r(60);
    display: inline-block;
    @media screen and (max-width: 600px){
      font-size: r(28);
      line-height: r(45);
    }
    @media screen and (max-width: 380px){
      font-size: r(24);
    }
    @media screen and (max-width: 340px){
      font-size: r(20);
    }
  }
}

.heading {
  font-size: r(16);
  font-weight: 400;
  color: $main_font_color;
}

.text {
  font-size: r(13);
  line-height: r(25);
  color: $main_font_color;
  font-family: $ff;
  font-weight: 300;
  strong{
    font-size: r(16);
    font-weight: 400;
    color: $main_font_color;
  }

  // ul {
  //   list-style-type: none;
  
  //   li {
  //     display: flex;
  //     align-items: center;
  //     line-height: r(25);
  //     font-size: r(15);
  //     color: $main_font_color;
  //     font-family: $ff;
  //     font-weight: 300;
  
  //     &::before {
  //       content: '';
  //       display: block;
  //       width: r(10);
  //       height: r(4);
  //       background: $main_element_bg_color;
  //       margin-right: r(10);
  //     }
  //   }
  // }
  ol,ul{
    padding-left: 15px;
  }
  p{
    margin-top: 2.5rem;
  }
}
.no-results,
 .not-found {
  margin-bottom: 3.75rem;
  min-height: 60vh;
 }

 .page-template-fullwidth .site-main{
   margin-bottom: 3.75rem;
  min-height: 60vh;
}
.cta-arrow {
  width: r(160);
  height: r(43);
  background: $button_bg_color;
  color: $button_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $button_bg_color;
  transition: left 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: r(10);

  svg {
    path {
      fill: rgba(255, 255, 255, 0.8);
    }

    position: relative;
    left: 0;
  }

  &:hover {
    svg {
      left: r(10);
    }

    color: $button_color;
    text-decoration: unset;
  }

  &.modification {
    background: $main_element_bg_color;
    color: $main_font_color;
    border-color: $main_element_bg_color;
    width: r(160);
    @media screen and (max-width: 600px){
      width: 11rem;
    }
    svg {
      width: 1rem !important;

      path {
        fill: rgba(51, 51, 51, 0.8);
      }
    }

    &:hover {
      svg {
        left: r(7);
      }
    }
  }
}

.dn {
  display: none;
}

#breadcrumbs {
  margin-bottom: r(19);
  font-family: $ff;
  font-size: r(11);
  font-weight: 300;
}


.row {
  margin-left: unset;
  margin-right: unset;
}

.before-element {
  line-height: 5.8125rem;
  padding-left: 1.375rem;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: .5625rem;
    height: 1.6875rem;
    position: absolute;
    top: 2.0625rem;
    left: 0;
    background: $main_element_bg_color;
  }

  &.f-size-23 {
    &:after {
      height: r(23);
    }
  }
}

.botton-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width:r($botton_arrow_size);
  height: r($botton_arrow_size); 
  position: relative; 
  &:after{
    content:"";
    display: block;
    position: absolute;
    border-bottom: 1px solid $main_font_color;
    border-right: 1px solid $main_font_color;
    transform: rotateZ(45deg);
    width: 50%;
    height: 50%;
    top: 2px;
  }
}
.margin-top-30 {
  margin-top: r(30);
}

.margin-top-50 {
  margin-top: r(50);
}

.f-size-23 {
  font-size: r(23);
}
// Disqus
#disqus_thread {
  margin-top: 2rem;
}
//search
.search{
  @media screen and (max-width: 600px){
    .page-header{
      padding: unset;
      .page-title{
        margin-top: unset;
        margin-bottom: unset;
      }
    }
  }
  .w-post-navigation{
    margin-bottom: r(30);
  }
  .screen-reader-text {
    font-size: 1.4375rem;
    padding-left: 1.375rem;
  //   line-height: 5.8125rem;
  //   position: relative;
  //   &:after {
  //     content: '';
  //     display: block;
  //     width: .5625rem;
  //     height: 1.4375rem;
  //     position: absolute;
  //     top: 2.0625rem;
  //     left: 0;
  //     background: #fff800;
  // }
  }
}
.entry-summary {
  margin-bottom: r(30);
}

.navbar-light .navbar-toggler {
  color: $main_font_color;
  border-color: $main_font_color;
}

nav.navbar {
  position: relative;
}

#sbi_images {
  padding-top: 0 !important;
}

p.text {
  margin-bottom: unset;
}
//cooke navbar
.ctcc-inner {
  span,
  a{
    font-size: .8125rem;

  }
  .ctcc-left-side{
    color: rgba(255, 255, 255, 0.8);
  }
}
body #catapult-cookie-bar .x_close span {
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1024px) {

 
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 600px) {
 

  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1199px) {
 
}

/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
}