@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
header {
  .navbar-nav {
    align-items: center;
    width: 100%;
    justify-content: space-around;
  .nav-link:not([title]){
    display: flex;
    justify-content: center;
    align-items: center;
    width: r(293);
    height: r(116);
    padding: unset;
    img{
      height: 85%;
      object-fit: cover;
    }
  }
  }
  &.navbar-light  .navbar-nav{
    .active,
    .show{
      .nav-link {
        text-transform: uppercase;
        font-size: r(13);
        letter-spacing: 3px;
        color: $basic_font_color;
        font-family: $ff;
       
      }
    }
    .nav-link {
      text-transform: uppercase;
      font-size: r(13);
      letter-spacing: 3px;
      color: rgba(0,0,0,0.6);
      font-family: $ff;
      font-weight: 500;
      &:hover{
        color: rgba(0,0,0,1);
      }
    }
   
  }
  @media screen and (max-width: 1024px){
    padding: r(8) 0 r(15) 0;
  }
  .container{
    @media screen and (max-width: 1024px){
      padding-left: unset;
      padding-right: unset;
    }
  }
  #main-nav{
      span.close{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        @media screen and (max-width: 768px){
          right: 2rem;
        }
        @media screen and (max-width: 600px){
          right: 2rem;
          top: 5rem;
        }
        @media screen and (max-width: 380px){
          right: 1.3rem;
        }
        @media screen and (max-width: 380px){
          right: 1.2rem;
        }
        &:after,
        &::before{
        width:14px;
        height: 2px;
        display: block;
        background: $main_font_color;
        content: "";
        position: absolute;
        }
        &:after{
          transform: rotateZ(45deg);
        }
        &::before{
          transform: rotateZ(-45deg);
        }
      }
    }
    @media screen and (max-width: 1024px){
      .navbar-collapse{
        position: fixed;
        z-index: 101;
        right: 0;
        width: 40vw;
        height: 100vh;
        top: 0;
        background: white;
        }
        .navbar-nav{
          margin-top: r(80);
        }
        .show .navbar-nav .nav-link {
          font-size: r(24);
        }
      }
      @media screen and (max-width: 600px){
        .navbar-collapse{
          width: 100vw;
        }
        .navbar-nav{
          margin-top: 8rem;
        }
      }
    }
   
.logotype{
  @media screen and (min-width: 1025px){
    display: none;
  }
  svg{
    height: r(60);
  }
}
.fixed-menu{
  position: fixed;
  left: 0;
  top: 0;
  width: 5.8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  background: $button_color;
  box-sizing: border-box;
  border-right: 1px solid $nav_border_color;
  transition: all 0.3s;
  @media screen and (max-width: 1024px){
    flex-direction: unset;
    justify-content: space-between;
  }
  &.hide-fixed-menu {
    width: 4vw;
    @media screen and (max-width: 1024px){
  width: 100vw;
     padding:0 6.3vw;
      height: r(70);
    border: unset;
    }
    >*:not(.fixed-menu-button){
      left:-100%;
      @media screen and (max-width: 1024px){
        left: unset;
       }
      
    }
    .fixed-menu-button{
      svg{
        transform: rotateZ(180deg);
      }
      @media screen and (max-width: 1024px){
        display: none;
      }
    }
  }
  >*{
    width:80%;
    @media screen and (max-width: 1024px){
      width:unset;
    }
    path {
      fill: $main_font_color;
    }
    .text{
      display: flex !important;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 1024px){
      justify-content: space-between;
      height: 100%;
      }
      span{
        font-size: r(12);
       color:$main_font_color;
      }
    }
  }
  .w-contact-elements{
    @media screen and (max-width: 1024px){
      display: flex;
      margin-left: r(20);
    }
    position: relative;
  }
  .w-email{
   
    margin-bottom: r(50);
    @media screen and (max-width: 1024px){
      margin-bottom: unset;
      margin-left: r(20);
    }
  }
  .w-phones{
    margin-bottom: r(50);
    @media screen and (max-width: 1024px){
      margin-bottom: unset;
    }
  }

  .search{
    position: relative;
    height: 7.25rem;
    display: flex;
    align-items: center;
    

    @media screen and (max-width: 1024px){
      height: unset;
      width: 100%;
     .widget_search {
       position: static;
     }
    }
    &.active {
      .widget_search {
        background: transparent;
      }
      .botton-arrow{
        margin-left: 5px;
        cursor: pointer;
          &:after {
            transform: rotateZ(-225deg);
            top: unset;
          }
        }
    } 
    .botton-arrow{
      cursor: pointer;
        &:after {
          transform: rotateZ(-45deg);
        }
      }
  }
  .fixed-menu-button {
   display: flex;
   justify-content: center;
   cursor: pointer;
  }
  .widget_search {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
   
    button{
      border: 1px solid transparent;
      background: $button_color;
      padding: unset;
      cursor: pointer;
    }
    button:focus {outline:0;}
  }
  .active > .widget_search{
    width: 20vw;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
    .search-submit{
      margin-right: r(10);
    }
  }
   
  .search-submit{
    margin-right:2px;
    margin-left: calc(((5.8vw * 0.8) - 23px)/2);
    @media screen and (max-width: 1024px){
      margin-left:unset;
    }
    &[disabled="true"],
    &[disabled]{
     svg{opacity:0.4;}
    }
  }
  .search-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    @media screen and (max-width: 1024px){
      width: auto;
    }
  }
  .search-form > label{
    width: 0;
    overflow: hidden;
    // transition: width 0.3s;
   
  }
  .active .search-form  {
    > label{
      width: auto;
      @media screen and (max-width: 1024px){
        width: 100%;
      }
    }
    @media screen and (max-width: 1024px){
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px){
 .navbar .menu-item-162{
   display:none;
 }
.site {
  margin-top: r(70);
}
header .container{
  max-width: 87.47vw;
}
}
@media screen and (max-width:330px){

}
@media screen and (max-width: 700px) and (orientation:landscape){
   
}
@media screen and (max-width: 600px) and (orientation:landscape){
  
}
