@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-front-page {
  .w-offer {
    display: grid;
    grid-template-columns: 1fr 33.21vw 26.4vw;
    column-gap: 1.7%;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr 45vw;
      grid-template-rows: auto auto;
      margin-bottom: r(50);

      .offer-column {
        grid-column: 1 / 3;
      }
    }
    @media screen and (max-width: 600px) {
      display: block;
      .picture{
        display: none;
      }
      .offer-column {
        margin-top: 1.5rem;
      }
    }
  }

  .info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 600px) {
      margin-top: 1.5rem;
    }
    .heading-text {
      font-family: $ff;
      font-size: r(13);
      line-height: r(13);
      font-weight: 700;
      color: $main_font_color;
      display: flex;
      align-items: center;
      margin-bottom: r(40);

      &:before {
        content: '';
        display: block;
        width: r(40);
        height: 1px;
        background: $main_font_color;
        margin-right: r(7);
      }
    }

    .w-content-title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;

      p:nth-child(1) {
        margin-bottom: r(12);
      }

      width:50rem;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .title {
      height: r(130);
      position: relative;
      margin-bottom: r(35);

      span {
        display: inline-block;
        padding: r(10);
        background: $main_element_bg_color;
      }
    }

    .text {
      margin-bottom: r(55);
    }
  }

  .offer-column {

    .w-tiles {
      display: grid;
      grid-template-columns: 12.45vw 12.45vw;
      grid-template-rows: repeat(3, 10.24vw);
      row-gap: 4%;
      column-gap: calc(100% - 24.9vw);

      @media screen and (max-width: 991px) {
        column-gap: 2vw;
        row-gap: 2vw;
        grid-template-columns: repeat(3, 27.8vw);
        grid-template-rows: 27.8vw 27.8vw;
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: 42.7vw 42.7vw;
        grid-template-rows: auto;
        .tiles{
          height: 42.7vw;
        }
      }
    }

    .title {
      line-height: r(93);
      padding-left: r(22);
      position: relative;

      &:after {
        content: '';
        display: block;
        width: r(9);
        height: r(27);
        position: absolute;
        top: r(33);
        left: 0;
        background: $main_element_bg_color;
      }
    }

    .tiles {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $main_element_bg_color;
      transition: all 0.3s;

      span {
        display: inline-block;
        width: 90%;
        text-align: center;
        text-transform: uppercase;

        @media screen and (max-width: 1024px) {
          font-size: r(13);
        }

        @media screen and (max-width: 991px) {
          font-size: r(20);
        }
        @media screen and (max-width: 380px) {
          font-size: r(18);
        }
        @media screen and (max-width: 340px) {
          font-size: r(16);
        }
      }

      &:hover {
        background: $button_bg_color;

        span {
          color: rgba(255, 255, 255, 0.8);
        }

      }
    }
  }

  .picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.page-template-Offers {
  .site-main {
    display: grid;
    grid-template-columns: 1fr 24.9vw;
    column-gap: 4.8%;
    margin-bottom: 3.75rem;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  .text {
    font-size: r(15);
    strong{
      font-weight: 500;
    }
  }

  .text-cta {
    grid-column: 1 / 2;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 19vw;
    }

    @media screen and (max-width: 991px) {
      display: block;

      .w-cta {
        height: r(70);
      }
    }

    .w-text {
      background: $main_element_bg_color;
      padding: r(45) r(35) r(45) r(30);

      @media screen and (max-width: 1024px) {
        padding: r(45) r(25) r(45) r(25);
      }

      .heading {
        text-transform: uppercase;
        margin-bottom: r(15);
      }

      .text {
        font-weight: 500;
        line-height: 1.2rem;
      }
    }

    .cta-arrow {
      width: 100%;
      height: 100%;
      background: $button_bg_color;
      border-color: $button_bg_color;
    }

    display: grid;
    grid-template-columns: 1fr 17.8vw;
  }

  .the_content-offer>*:not(.heading) {
    margin-bottom: r(30);
  }

  .heading {
    margin-bottom: r(15);
  }
}

.page-template-offers-category {
  .offers {
    margin-bottom: 3.75rem;
    @media screen and (max-width: 600px) {
      margin-top: 1.5rem;
    }
  }

  .site-main {
    display: grid;
    grid-template-columns: 1fr 26.4vw;
    column-gap: 4.8%;

    @media screen and (max-width: 991px) {
      display: block;

      .w-form {
        margin-top: r(50);
      }
    }
  }
  .w-article {
    .article-item {
      display: block;
    }
    .info {
      padding: unset;
    }
  } 
  .article-item {
    .text {
      min-height: r(100);
    }
  }

  h1.title:before {
    content: unset;
  }

  .info {

    .text,
    .w-cta {
      margin-top: 2.5rem;
    }

    .w-cta {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.75rem;
    }
  }
}