@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

nav.pagination {
    margin-top: r(60);
    .nav-links{
      display: flex;
      align-items: center;
      >*{
        margin-left: r(10);
        font-family: $ff;
        font-size: r(11);
        &:first-child {
          margin-left: unset;
        }
      }
    }
  a.page-numbers:not(.next):not(.prev){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: $main_font_color;
    width: r(30);
    height: r(30);
  }
  span.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main_font_color;
    background: $main_button_bg_color;
    width: r(30);
    height: r(30);
  }
  a.next,
  a.prev{
    text-transform: uppercase;
      letter-spacing: 2px;
  }
  a.next{
    display: flex;
    align-items: center;
    &:after{
      content: '';
        display: block;
        width: r(25);
        height: r(10);
        position: relative;
        background-image: url(./images/right-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        top: -1px;
        z-index: 10;
    }
    &:hover{
      color: inherit;
      &:after{
        left: r(7);
      }
    }
  }
  a.prev{
    display: flex;
    align-items: center;
    &:before{
      content: '';
        display: block;
        width: r(30);
        height: r(10);
        position: relative;
        background-image: url(./images/right-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: rotateZ(180deg);
        top: -1px;
        z-index: 10;
    }
    &:hover{
      color: inherit;
      &:before{
        right: r(7);
      }
    }
  }
  }