@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.w-article {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: r(73);

    @media screen and (max-width: 600px) {
      margin-bottom: r(32);
    }

    &:before {
      content: '';
      display: block;
      width: r(9);
      height: r(27);
      background: $main_element_bg_color;
      margin-right: r(12);
    }

  }

  .article-item {
    display: grid;
    grid-template-columns: 46.3% 1fr;
    margin-top: r(30);

    @media screen and (max-width: 600px) {
      display: block;
    }

    &:nth-of-type(1) {
      margin-top: unset;
    }

    .cta-arrow {
      background: unset;
      color: $main_font_color;
      border-color: transparent;

      svg path {
        fill: rgba(51, 51, 51, 0.8);
      }
    }
  }

  .article-picture {
    padding-top: 70%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .info {
    padding: r(60) r(30) 0 r(50);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text {
      min-height: r(100);
    }

    @media screen and (max-width: 600px) {
      padding: r(60) r(30) 0 r(30);
 
    }

    @media screen and (max-width: 340px) {
      padding: r(60) r(20) 0 r(20);
    }
  }

  .headin-info {
    display: flex;
    align-items: center;
    font-size: r(20);
    color: $basic_font_color;
    font-family: $ff;
    font-weight: 700;
    text-transform: uppercase;
position: relative;
padding-left: 1.2rem;
    &:before {
      content: '';
      display: block;
      width: r(9);
      height: r(27);
      background: $main_element_bg_color;
     
      position: absolute;
      left: 0;
    }
  }

  >.cta-arrow {
    width: r(247);
    margin: 0 auto;
    margin-top: r(55);
  }
}
.home .w-article {
  img{
    padding: r(60) r(30) r(45) r(55);
    @media screen and (max-width: 600px) {
      padding: r(45) r(30) 0 r(30);
 
    }
    background: #fff;
  }
  .article-item {
    border: 1px solid #f1efef;
  }
}

.blog {
  .w-article {
    img{
      padding: r(60) r(30) r(45) r(55);
      @media screen and (max-width: 600px) {
        padding: r(45) r(30) 0 r(30);
   
      }
      background: #fff;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
    }
  }
  .article-item {
    border: 1px solid #f1efef;
  }
  h1.title {
    background: $main_element_bg_color;
    padding: 0 1rem;
    max-width: 12rem;

    &::before {
      content: unset;
    }
  }

  .site-main {
    margin-bottom: r(60);
  }

  .content-main-site {
    display: grid;
    grid-template-columns: 1fr 26.4vw;
    column-gap: 4.8%;

    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;

      .w-article {
        order: -2;
      }

      .navigation.pagination {
        order: -1;
        display: flex;
        justify-content: center;
      }
    }

    .heading-text {
      margin-top: r(45);
    }

    .text,
    .w-cta {
      margin-top: r(40);
    }

    .w-form .text {
      margin-top: unset;
    }

    .article-item .text {
      min-height: r(100);
    }

    .w-cta {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.75rem;
    }
  }
}

.single-post {
  .post-thumbnail {
    position: relative;
    padding-top: 39.31%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .w-content {
    padding-bottom: r(50);
  }

  .w-container {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: r(226);
      position: absolute;
      left: 0;
      bottom: 0;
      background: $second_bg_color;
      z-index: 1;
    }
  }

  .w-carousel {
    margin-top: r(100);

    @media screen and (max-width: 600px),
    (max-width: 850px) and (orientation:landscape) {
      margin-top: r(60);
    }

    position: relative;
    z-index: 2;

    &.w-article {

      .title {
        margin-bottom: r(35);
      }

      .text {
        margin-top: r(20);
        min-height: r(75);
      }

      .w-cta {
        margin-top: r(20);
        margin-bottom: r(12);
        display: flex;
        justify-content: flex-end;
      }

    }
  }

  .heading-text {
    font-size: 1.125rem;
    font-weight: 500;
    color: #333;
  }

  #breadcrumbs {
    margin-top: 1.1875rem;
  }

  .w-content-post {
    display: grid;
    grid-template-columns: 1fr 24.9vw;
    column-gap: 4.8%;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  .text-cta {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 17.8vw;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 19vw;
    }

    @media screen and (max-width: 991px) {
      display: block;

      .w-cta {
        height: r(70);
      }
    }

    .w-text {
      background: $main_element_bg_color;
      padding: r(45) r(35) r(45) r(30);

      .heading {
        text-transform: uppercase;
        margin-bottom: r(15);
      }

      .text {
        font-weight: 500;
        line-height: 1.2rem;
      }
    }

    .cta-arrow {
      width: 100%;
      height: 100%;
      background: $button_bg_color;
      border-color: $button_bg_color;
    }
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px),
(max-width: 700px) and (orientation: landscape) {}

@media screen and (max-width: 330px) {}