@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-Team {
  .w-content.pt {
    display: grid;
    grid-template-columns: 1fr 26.4vw;
    column-gap: 4.8%;
    @media screen and (max-width:1024px){
      margin-top: 1.5rem;
    }
    @media screen and (max-width:991px){
      display: block;
    }
  }

  h1.title {
    margin-bottom: r(27);
  }

  .before-element {
    margin-bottom: r(12);
  }

  .heading {
    margin-bottom: 1.5rem;
  }

  .w-workers {
    .description {
      margin-top: r(25);
      .text{
        margin-top: 1.5rem;
      }
    }
    .item-w {
      margin-top: r(60);
      &:last-child{
          margin-bottom: r(60);
      }
      @media screen and (max-width:600px){
        
        margin-bottom: 2rem;
        
      }
    }

    .heading {
      margin-top: 1.5rem;
    }

    .position {
      font-size: r(12);
      font-weight: 700;
      line-height: r(26);
      @media screen and (max-width: 600px) {
        margin-top: r(16);
        font-size: 1.2rem;
      }
    }

    .name {
      font-size: r(22);
      font-weight: 400;
      line-height: r(26);
      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }

    .top {
      display: grid;
      grid-template-columns: 215px 1fr;
      column-gap: 4%;
      @media screen and (max-width:600px){
        display: block;
      }
    }

    .w-position-name {
      align-self: center;
      @media screen and (max-width:600px){
        align-self: unset;
        >p{
          text-align: center;
      }
      }
    }

    .w-img {
      border-left: 10px solid $main_element_bg_color;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding-top: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

}
.page-template-front-page {
  .the_content-team.text {
    margin-top: unset;
    strong {
      font-size: r(16);
      font-weight: 400;
    }
    p{
      margin-top: 2.5rem;
    }
  }
    .w-workers{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 9.5%;
        @media screen and (max-width:600px){
          display: block;
          .item-w{
          margin-bottom: 2rem;
          }
        }
        .w-position-name{
            >p{
                text-align: center;
            }
        }
        .position {
            font-size: r(12);
            font-weight: 700;
            margin-top: r(16);
            @media screen and (max-width: 600px) {
              font-size: 1.2rem;
            }
          }
      
          .name {
            font-size: r(22);
            font-weight: 400;
            line-height: r(30);
            @media screen and (max-width: 600px) {
              font-size: 1.5rem;
              line-height: 3rem;
            }
          }
          .w-img {
            border-left: 10px solid $main_element_bg_color;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding-top: 100%;
      
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    }
}
