$main_font_color: #333333;

$basic_font_color: #000;

$main_bg_color: transparent;
$second_bg_color: #fafafa;

$main_element_bg_color: #fff800;


//nav border
$nav_border_color: #f4f4f4;
//inputs form
$input_font_color: #a4a4a4;
$input_font_weight: 500;
$input_border_color: #f1efef;
$input_bg_color: #fff;
$input_font_size:12px;
$placeholder_size: $input_font_size;
$placeholder_weight: $input_font_weight;

//botton cta
$main_button_bg_color: #fff800;
$button_bg_color: #333333;
$button_color: #fff;

//botton arrow (after)
$botton_arrow_size: 20;

//fonts
$ff: "Montserrat";
